:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #333; /* Dark grey for backgrounds */
  --accent-color: #ff3e3e; /* Red accent color */
  --text-color: #f6f6f6; /* Light grey for text */
  --button-color: #646cff; /* Red tint for buttons */
  --button-hover-color: #535bf2; /* Darker red for button hover */

  --led-off-color: #000000; /* Dark color for LED off state */
  --led-border-color: #8a8a8a; /* LED border color */
  --sidebar-width: 200px; /* Sidebar width */
  --sidebar-collapsed-width: 60px; /* Sidebar collapsed width */

  --led-glow-color: #000000; /* Default glow color */
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}


#led-matrix {
  display: grid;
  grid-template-columns: repeat(24, 5mm);
  grid-template-rows: repeat(8, 5mm);
  gap: 7mm;
  justify-items: center;
  align-items: center;
}

#led-matrix .led {
  position: relative;
  top: 5mm;
  left: 25mm;
  z-index: 2; /* Lower than overlay image */
  /* Default off-state for LEDs */
  width: 5mm;
  height: 5mm;
  background-color: var(--led-off-color);
  border: 1px solid var(--led-border-color);
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s ease;

  border-radius: 50%; /* Make the LEDs circular */
}

#led-matrix .led.active {
  box-shadow: 0 0 45px 10px var(--led-glow-color);
}




#color-picker {
  /* Styles to fit the dark theme */
  background-color: var(--primary-color);
  border-color: var(--accent-color);
  color: var(--text-color);
  cursor: pointer;
  margin-top: 10mm;
}

.color-picker-label {
  margin-top: 1rem;
  color: var(--text-color);
}


.button {
  color: var(--text-color);
  background-color: var(--button-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover-color);
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}



.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}



#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: var(--primary-color);
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}



/* Styles for the sidebar and content layout */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s;
}


.sidebar-toggle {
  font-size: 24px;
  background: none;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 20px;
}


.sidebar.collapsed .text {
  display: none; /* Hide text when sidebar is collapsed */
}

.sidebar.collapsed .icon {
  display: inline; /* Show icons when sidebar is collapsed */
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed-width); /* Smaller width when collapsed */
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar-link:hover,
.sidebar-link:focus {
  background-color: var(--button-hover-color);
}





.sidebar-button {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: var(--button-color);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: var(--button-hover-color);
}




.content {
  width: 800px; /* Set the fixed width for the content area */
  margin: 0 auto; /* Center the content area */
  padding : 100px;
  transition: margin-left 0.3s;
}

.window {
  background-color: var(--primary-color);
  border: none;
  padding: 20px;
  color: var(--text-color);
  display: none;
}

.window.active {
  border-left: 4px solid var(--accent-color);
  display: block;
}


.hidden {
  display: none;
}



.icon {
  display: none; /* Hide icons by default */
}



.content.shifted {
  margin-left: var(--sidebar-width); /* Shift content when sidebar is expanded */
}


.app-header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
}




#led-matrix-overlay {
  position: relative;
  width: 312mm; /* Set the fixed width based on the actual image size */
  height: 111mm; /* Set the fixed height based on the actual image size */
  margin: 0 auto; /* Center the LED matrix */
}

#overlay-image {
  position: absolute;
  top: -0.4mm;
  left: 0;
  z-index: 1;
  width: 312mm; /* Set the fixed width to match the actual image size */
  height: 111mm; /* Set the fixed height to match the actual image size */
  pointer-events: none; /* so click/mouse events go to LEDs underneath */

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
}